@mixin flex($justify, $align, $gap){
    display: flex;
    justify-content: $justify;
    align-content: $align;
    gap: $gap;
}
    
@mixin text($ffamily,$fsize,$fweight,$talign){
    font-family: $ffamily;
    font-size: $fsize;
    font-weight:$fweight;
    text-align: $talign;
}