header{
    background-image: url('../../css/img/bg-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
