header{
    background-image: url('../../css/img/bg-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // margin: 10rem auto;
    // padding-top: 10rem;
    // padding-bottom: 10rem;
    padding: 20rem 5rem;
}

.color-vino{
    color:rgb(81, 16, 5);
 }

 .fondo{
    background-color: rgb(81, 16, 5);
    }   